@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Common
@model Bonsai.Areas.Admin.ViewModels.Common.RemoveEntryRequestVM
@{
    ViewBag.Title = "Удаление медиа";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
    var info = (RemoveEntryInfoVM<string>) ViewBag.Info;
}

<h1>Удаление медиа</h1>

<div class="card d-inline-block">
    <div class="card-body">
        <img src="@Url.Content(info.Entry)" style="max-width: 200px" />
    </div>
</div>

<p>Вы уверены, что хотите удалить данный медиа-файл?</p>

<form action="@Url.Action("Remove", "Media", new {area = "Admin"})" method="POST">
    <input type="hidden" asp-for="Id" />
    
    @if (info.CanRemoveCompletely)
    {
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RemoveCompletely" id="RemoveCompletely" />
                <label class="form-check-label" for="RemoveCompletely">Удалить окончательно (освободит место на диске, восстановление будет невозможно)</label>
            </div>
        </div>
    }
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Удалить</button>
        <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
    </div>
</form>