@using Bonsai.Code.Services.Config
@inject BonsaiConfigService Config

@{
    ViewBag.Title = "Загрузка медиа";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var maxSize = @Config.GetStaticConfig().WebServer.MaxUploadSize;

    string RenderSize()
    {
        if (maxSize == null)
        {
            return null;
        }
        if (maxSize < 1024)
        {
            return maxSize + " Б";
        }
        if (maxSize < 1024 * 1024)
        {
            return Math.Round(maxSize.Value / 1024M, 2) + " КБ";
        }
        if (maxSize < 1024 * 1024 * 1024)
        {
            return Math.Round(maxSize.Value / (1024M * 1024), 2) + " МБ";
        }
        return Math.Round(maxSize.Value / (1024M * 1024 * 1024), 2) + " ГБ";
    }
}

<h1>Загрузка медиа</h1>

<form>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label for="Date">Дата</label>
            <input type="text" id="Date" class="form-control datepicker" placeholder="ГГГГ.ММ.ДД" />
        </div>
        <div class="form-group col-sm-4">
            <label for="Location">Место</label>
            <select id="Location"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="Event">Событие</label>
            <select id="Event"></select>
        </div>
    </div>
</form>

<div class="card media-uploader" data-max-size="@maxSize">
    <div class="card-body">
        <div>Нажмите сюда для загрузки нового файла</div>
            @if (maxSize != null)
            {
                <div class="mt-2">
                    <small class="text-muted">Не более @RenderSize()</small>
                </div>
            }
        <input type="file" name="file" multiple="multiple" />
    </div>
</div>

<div class="media-uploader-items row">
</div>

<script type="text/template" id="uploader-item-template-progress">
    <div class="col-sm-3">
        <div class="card mb-4">
            <div class="card-img-top media-uploader-preview default">

            </div>
            <div class="card-footer">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                </div>
                <span class="error text-danger text-small" style="display: none">Ошибка</span>
                <a href="#" class="media-edit-link" target="_blank" style="display: none">
                    <span class="fa fa-pencil"></span>
                    Редактировать
                </a>
            </div>
        </div>
    </div>
</script>