@using Bonsai.Code.Tools
@model Bonsai.Code.DomainModel.Facts.Templates.LanguageFactTemplate
    
<div>
@foreach (var item in Model.Values)
{
    <div class="fact-item">
        <span class="fact-main">@item.Language</span>
        <span class="fact-extra">@item.Proficiency.GetEnumDescription()</span>
        @if (!item.Range.IsEmpty)
        {
            <span class="fact-range" title="@item.Range.ReadableRange">@item.Range.ShortReadableRange</span>
        }
    </div>    
}
</div>