@using Bonsai.Code.Tools
@model Bonsai.Code.DomainModel.Facts.Templates.SkillFactTemplate
    
<div>
    @foreach (var item in Model.Values)
    {
        var range = new FuzzyRange(item.RangeStart, item.RangeEnd);

        <div class="fact-item">
            <span class="fact-main">@item.Language</span>
            <span class="fact-extra">@item.Proficiency.GetEnumDescription()</span>
            @if (!range.IsEmpty)
            {
                <span class="fact-range">@range</span>
            }
        </div>    
    }
</div>