@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.DynamicConfig.UpdateDynamicConfigVM
@{
    ViewBag.Title = "Настройки";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-9 col-sm-12">
        <form action="@Url.Action("Update")" method="post">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Название</label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" />
                    <span class="small text-muted">Показывается в заголовке сайта</span>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">Доступ</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowGuests" value="True" class="custom-control-input" id="AllowGuestsTrue" />
                        <label class="custom-control-label" for="AllowGuestsTrue">
                            Любой посетитель может читать
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowGuests" value="False" class="custom-control-input" id="AllowGuestsFalse" />
                        <label class="custom-control-label" for="AllowGuestsFalse">
                            Только зарегистрированный может читать
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">Регистрация</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowRegistration" value="True" class="custom-control-input" id="AllowRegistrationTrue" />
                        <label class="custom-control-label" for="AllowRegistrationTrue">
                            Разрешена
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowRegistration" value="False" class="custom-control-input" id="AllowRegistrationFalse" />
                        <label class="custom-control-label" for="AllowRegistrationFalse">
                            Запрещена
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">Построение древа</label>
                <div class="col-sm-9">
                    <input asp-for="TreeRenderThoroughness" type="range" min="1" max="100" class="form-control"/>
                    <div class="small text-muted">
                        <div class="pull-left">Быстро и грубо</div>
                        <div class="pull-right">Долго и тщательно</div>
                        <div class="clearfix"></div>
                    </div>
                    <span asp-validation-for="TreeRenderThoroughness" class="text-danger"></span>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Ошибка:</strong> пожалуйста, убедитесь, что вы заполнили все поля корректно и попробуйте снова.
                </div>
            }

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="@Url.Action("Index")"></a>
                </div>
            </div>
        </form>
    </div>
</div>