@{
    ViewBag.Title = "Главная";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<div class="content text">
    <h1>Панель администрации</h1>
    
    <p>Добро пожаловать в администрационную панель!</p>
    <p>Выберите раздел из бокового меню.</p>
</div>
