@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../node_modules/magnific-popup/src/css/main.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

@import 'fonts.scss';
@import 'variables.scss';

@import 'Components/main.scss';
@import 'Components/header.scss';
@import 'Components/typography.scss';

@import 'Components/common.scss';

@import 'Components/media.scss';
@import 'Components/infoblock.scss';
@import 'Components/homepage.scss';
@import 'Components/calendar.scss';
@import 'Components/page.scss';
//@import 'Components/search.scss';

/*.container-main {
    margin-top: 30px;
}

.page-header {
    margin-bottom: 30px;
}*/



.sidebar {
    max-width: 18rem;
    overflow: hidden;
    padding: 1.5rem;
    flex: 1 0 auto;
    background: #f5f5f5;
    border-right: 1px solid $color-border;

    h6 {
        color: #2f373a;
        font-weight: bold;
        text-transform: uppercase;
    }

    .profile-photo {
        margin-bottom: 0.5rem;

        img {
            border-radius: 100%;
            width: 11rem;
            height: 11rem;
            margin: auto;
            display: block;
        }
    }

    .fact-group {
        padding: 1rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }
    }
}

.content {
    padding: 1rem 3rem;
}