$subtle-header-color: #999999;

$panel-color: #fcfcfc;
$panel-border-color: $subtle-header-color;
$panel-border: $panel-border-color 1px solid;
$panel-inner-border-color: #cccccc;
$panel-inner-border: $panel-inner-border-color 1px solid;