@model IReadOnlyList<Bonsai.Areas.Admin.ViewModels.Menu.MenuGroupVM>

<div class="side-menu">
    @foreach(var group in Model)
    {
        <div class="list-group">
            @foreach(var item in group.Items)
            {
                <a href="@item.Url" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(item.IsSelected ? "active" : "")">
                    <span>
                        <i class="fa fa-fw fa-@(item.Icon)"></i>
                        @item.Title
                    </span>
                    @if (item.NotificationsCount > 0)
                    {
                        <span class="badge badge-primary badge-pill pull-right">@item.NotificationsCount</span>
                    }
                </a>
            }
        </div>
        <br />
    }
</div>