@using Bonsai.Data.Models
@using Impworks.Utils.Format
<div class="modal media-picker" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выбор медиа</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="pull-right">
                        <div class="form-inline">
                            <div class="btn-group btn-group-sm mr-2" v-if="isTypeSelectionEnabled">
                                @foreach (var mt in EnumHelper.GetEnumDescriptions<MediaType>())
                                {
                                    var val = (int) mt.Key;
                                    <button type="button" class="btn btn-outline-secondary" v-on:click="toggleType(@val)" v-bind:class="{active: isTypeEnabled(@val)}">@mt.Value</button>
                                }
                            </div>
                            <input class="form-control form-control-sm mr-2" placeholder="Поиск" v-model="query" v-on:keydown.enter="search()" />
                            <button type="button" class="btn btn-outline-secondary" title="Найти" v-on:click="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="scrollable">
                    <div class="alert alert-info" v-if="!items || !items.length">По вашему запросу ничего не найдено.</div>
                    <ul class="list-inline" v-if="items && items.length">
                        <li v-for="m in items" class="list-inline-item">
                            <div class="media-thumb-wrapper" title="Выбрать">
                                <div class="media-thumb-square clickable" v-bind:style="{ 'background-image': 'url(' + m.thumbnailUrl + ')' }" v-on:click="pick(m)" />
                            </div>
                        </li>
                    </ul>
                    <div class="scroll-end" style="height: 5px"></div>
                </div>
            </div>
        </div>
    </div>
</div>