@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Стиль";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Markdown")">Оформление</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Стиль</a>
    </li>
</ul>

<h3>Рекомендации по стилю</h3>

<p>
    Целью данного сайта является сохранение и каталогизация информации о семье.
    Чтобы эту информацию было приятно и интересно читать, все авторы должны придерживаться определенных стилистических рекомендаций.
</p>
<p>Пожалуйста, ознакомьтесь с ними и помните про них, когда пишете или редактируете статьи.</p>

<ol>
    <li>
        <strong>Объективность</strong>:<br />
        Пишите беспристрастно и сосредоточьтесь на фактах. Не давайте персональной оценки - она может не совпадать с мнением других людей и меняться со временем.
    </li>
    <li>
        <strong>Позитивность</strong>:<br />
        Если это возможно, уделяйте больше внимания хорошим событиям. Читать о них будет приятнее.
    </li>
    <li>
        <strong>Информативность</strong>:<br />
        Подумайте о том, что было бы интересно узнать людям, которые будут читать статью через 50 или 100 лет. Опустите мелкие подробности, пишите простым языком.
    </li>
    <li>
        <strong>Последовательность</strong>:<br />
        Придерживайтесь хронологического порядка, не забегая вперед: рождение, детство, учеба, работа, семья, зрелость, старость. Если информации достаточно, делите текст на разделы заголовками.
    </li>
    <li>
        <strong>Оформление</strong>:<br />
        Пишите грамотным русским языком, при необходимости пользуйтесь автоматическими средствами проверки орфографии. Разбивайте текст на абзацы и используйте ссылки на другие страницы.
    </li>
    <li>
        <strong>Точность</strong>:<br />
        Если вы не помните какого-то точного факта (даты, имени, места) - напишите как есть. Возможно, кто-то другой помнит и сможет дополнить ваш текст.
    </li>
</ol>

<h3>Рекомендации по медиафайлам</h3>

<ol>
    <li>Выкладывайте только важное. Этот сайт не заменяет stories в Instagram! Оптимальное число - до пяти фото и видео на человека в год.</li>
    <li>Отмечайте людей на фото и видео.</li>
    <li>Отбирайте самые удачные фотографии. При необходимости ретушируйте их перед публикацией.</li>
    <li>Не загружайте фото с голыми детьми, даже если вам это кажется очень милым. Да и со взрослыми, впрочем, тоже.</li>
</ol>