@model Bonsai.Areas.Admin.ViewModels.Components.ListItemFilterVM

<a class="btn btn-outline-secondary btn-sm mr-sm-2" href="@Model.CancelUrl" title="Снять фильтр">
    <i class="fa fa-filter"></i>
    @Model.Title <span class="ml-sm-2">&times;</span>
</a>