.side-menu {
    margin-top: 1.5rem;
}

.admin-row {
    img, .image {
        width: 24px;
        height: 24px;

        display: inline-block;
        vertical-align: bottom;
    }

    .image {
        background-size: cover;
    }

    .admin-row-actions {
        white-space: nowrap;
        padding: 8px 12px;
    }

    .admin-row-actions a, .admin-row-action {
        opacity: 0;
        font-size: 0;
        display: inline-block;
        vertical-align: bottom;

        &:not(:last-of-type) {
            margin-right: 6px;
        }

        .fa {
            font-size: 24px;
        }
    }

    &:hover {
        .admin-row-actions a, .admin-row-action {
            opacity: 1;
        }
    }
}