@using Bonsai.Areas.Front.ViewModels.Auth
@model Bonsai.Areas.Front.ViewModels.Auth.LoginStatus
@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

<div class="content text">
    <h1>Авторизация</h1>

    @if(Model == LoginStatus.Failed)
    {
        <div class="alert alert-danger">
            <b>Ошибка:</b> Не удалось авторизоваться.
        </div>
    }
    else if(Model == LoginStatus.LockedOut)
    {
        <div class="alert alert-danger">
            <b>Ошибка:</b>Ваша учетная запись заблокирована администратором.
        </div>
    }
    else if (Model == LoginStatus.Unvalidated)
    {
        <p>Ваша учетная запись еще не была проверена администратором.</p>
        <p>Пожалуйста, дождитесь проверки - тогда вы сможете авторизоваться.</p>
    }
</div>