@{
    ViewBag.Title = "Регистрация";
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

<div class="content text">
    <h1>Регистрация</h1>

    <p>Вы успешно зарегистрированы!</p>
    <p>Ваша учетная запись будет проверена администратором, после чего вы сможете авторизоваться и пользоваться системой.</p>
    <p><a href="@Url.Action("Index", "Home")">На главную страницу</a></p>
</div>