@using Bonsai.Code.DomainModel.Facts.Models
@using Impworks.Utils.Format
<script type="text/x-template" data-kind="fact-template" id="LanguageFactModel">
    <div class="fact-wrapper">
        <h6>
            {{def.title}}
            <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="add({})" title="Указать факт">
                <i class="fa fa-plus"></i>
            </button>
        </h6>
        <div v-if="!emptyList()" v-for="row in getList()" class="fact-list">
            <div class="form-inline fact-list-item">
                <input type="text" v-model="row.Name" class="form-control form-control-sm mr-2" placeholder="Название" />
                <select v-model="row.Proficiency" class="form-control form-control-sm mr-2">
                    <option v-bind:value="null">Не указано</option>
                    @foreach(var prof in EnumHelper.GetEnumDescriptions<LanguageProficiency>())
                    {
                        <option value="@prof.Key">@prof.Value</option>
                    }
                </select>
                <duration-picker v-model="row.Duration" size="sm" margin="2" />
                <button type="button" class="btn btn-outline-danger" v-on:click="unset" title="Удалить факт">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
    </div>
</script>