@{
    ViewBag.Title = "Панель администрации";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>Добро пожаловать в администрационную панель!</p>
<p>Выберите раздел из бокового меню.</p>
