@using Bonsai.Areas.Front.ViewModels.Page
@model PageVM<PageDescriptionVM>
@{
    Layout = "PageLayout";

    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Body.Title;
}

<div class="typography">
    @if(string.IsNullOrWhiteSpace(Model.Body.Description))
    {
        <div class="text-muted">Ничего не известно.</div>
    }
    else
    {
        @Html.Raw(Model.Body.Description)
    }
</div>