@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Localization
@model PageVM<PageReferencesVM>
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";

    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Body.Title;
}

<div class="typography">
    @if(Model.Body.References.Any())
    {
        <p>@Texts.Front_Page_References_Hint</p>
        <ul>
            @foreach (var r in Model.Body.References)
            {
                <li>
                    <a href="@Url.Action("Description", "Page", new { key = r.Key })">@r.Title</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="text-muted">@Texts.Front_Page_References_Empty</div>
    }
</div>