@import '../variables.scss';

header {
    border-bottom: 1px solid $color-border;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.03);

    .navbar {
        padding: 0 1.5rem;

        .row {
            margin: 0;

            .col {
                padding: 0;
            }
        }

        .navbar-brand {
            margin: 0;
            padding: 0;
            color: #2f373a !important;
            line-height: 1;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'PT Serif';

            img {
                display: block;
                $size: 2.6rem;
                width: $size;
                height: $size;
                margin-right: 1rem;
            }
        }

        .search, .placeholder {
            margin: 0;
            flex: 1 0 auto;
            position: relative;
            margin: 0 1.5rem;
            height: 4.2rem;

            &:before, &:after {
                content: "";
                display: block;
                top: 50%;
                width: 1px;
                height: 2rem;
                z-index: 102;
                position: absolute;
                margin-top: -1rem;
                background: $color-border;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            &:last-child:after {
                display: none;
            }

            input {
                border: 0;
                width: 100%;
                background: #fff;
                padding: 1.4rem 1rem;
                border-radius: 0;
                line-height: 1;
                z-index: 101;
                display: block;
                position: relative;

                @include placeholder-color($color-caption);

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .account {
            white-space: nowrap;

            img {
                $size: 2.2rem;
                width: $size;
                height: $size;
                border-radius: 100%;
                margin-right: 1rem;
            }

            a {
                font-size: 0.8rem;
                color: $color-caption;
            }
        }
    }
}

.autocomplete-suggestions {
    z-index: 100 !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

    .autocomplete-suggestion {
        background: #fff;
        cursor: pointer;
        padding: 0.4rem 1rem;
        border: 1px solid $color-border;

        &:not(:last-child) {
            border-bottom: 0;
        }

        &.autocomplete-selected {
            background: #f5f5f5;
        }
    }
}
