@using Bonsai.Areas.Front.ViewModels.Media
@model Bonsai.Areas.Front.ViewModels.Media.MediaVM
    
<div class="document-wrapper">
    <img src="@Model.PreviewPath" class="media-document" alt="@(Model.Title ?? "Документ")" />
</div>