@model Bonsai.Areas.Front.ViewModels.Home.HomeVM
@{
    Layout = "~/Areas/Front/Views/Layout.cshtml";
    ViewBag.Title = "Главная страница";
}

<div class="calendar-wrapper">
    <div class="row calendar">
        <div class="col-md-7 calendar-month"></div>
        <div class="col-md-5 calendar-events"></div>
    </div>
</div>