@using Bonsai.Areas.Front.ViewModels.Page
@model PageDescriptionVM
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";

    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Title;
}

@if (string.IsNullOrWhiteSpace(Model.Description))
{
    <div class="text-muted">Ничего не известно.</div>
}
else
{
    @Html.Raw(Model.Description)
}