@using Bonsai.Areas.Front.ViewModels.Page
@model PageDescriptionVM
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";
    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Title;
    var pageVm = (PageTitleVM)ViewBag.PageModel;
}

<div class="sidebar col">
    @Html.Partial("InfoBlock/InfoBlock", Model.InfoBlock)
</div>
<div class="content col">
    <div class="typography">
        <h1>@pageVm.Title</h1>
        @Html.Raw(Model.Description)
    </div>
</div>