@model Bonsai.Areas.Front.ViewModels.Search.SearchVM
@{
    ViewBag.Title = "Поиск";
    ViewBag.SearchQuery = Model.Query;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

@if(Model.Results.Any())
{
    <input type="hidden" id="search-query-hidden" value="@Model.Query" />
    <ul class="search-results">
        @Html.Partial("SearchResults", Model.Results)
    </ul>
}
else
{
    <div class="alert alert-info">
        @if(!(Model.Query?.Length >= 3))
        {
            <text>Запрос слишком короткий. Введите как минимум три символа.</text>
        }
        else
        {
            <text>По вашему запросу ничего не найдено.</text>
        }
    </div>
}