@model Bonsai.Areas.Front.ViewModels.Search.SearchVM
@{
    ViewBag.Title = "Поиск";
    ViewBag.SearchQuery = Model.Query;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}
<div class="search-results">
    <h1>Результаты поиска</h1>

    @if (Model.Results.Any())
    {
        <input type="hidden" id="search-query-hidden" value="@Model.Query" />
        @Html.Partial("SearchResults", Model.Results)

    }
    else
    {
        @if (!(Model.Query?.Length >= 3))
        {
            <p>Запрос слишком короткий. Введите как минимум три символа.</p>
        }
        else
        {
            <p>По вашему запросу ничего не найдено.</p>
        }
    }
</div>