@using Bonsai.Code.DomainModel.Facts.Models
@model AddressFactModel

<tr class="fact">
    <th class="fact-title" colspan="2">@Model.ShortTitle</th>
</tr>
<tr class="fact">
    <td class="fact-value" colspan="2">
        @Model.Value
    </td>
</tr>