@using Bonsai.Code.DomainModel.Facts.Models
@using Impworks.Utils.Format
@model SocialProfilesFactModel

<tr class="fact">
    <th class="fact-title">@Model.ShortTitle</th>
</tr>
<tr class="fact">
    <td class="fact-value big-icons">
        @foreach (var item in Model.Values)
        {
            <a class="big-icon" href="@item.Value" target="_blank" title="@item.Type.GetEnumDescription()">
                <span class="fa @(GetIcon(item.Type))"></span>
            </a>
        }
    </td>
</tr>

@functions {
    string GetIcon(SocialProfileType type)
    {
        return type switch
        {
            SocialProfileType.Facebook => "fa-facebook-square",
            SocialProfileType.Twitter => "fa-twitter-square",
            SocialProfileType.Github => "fa-github",
            SocialProfileType.Youtube => "fa-youtube-play",
            SocialProfileType.Telegram => "fa-telegram",
            SocialProfileType.Odnoklassniki => "fa-odnoklassniki-square",
            SocialProfileType.Vkontakte => "fa-vk",
            _ => null
        };
    }
}
