@import '../variables.scss';

.page-info {

    .fact-group {

        @include spaced-list(10px);

        &.fact-group-sublime {
            padding: 0;
        }

        .relation-group {
            margin: 0 -10px;
            padding: 10px;

            &:last-of-type {
                border-bottom: 0;
                margin-bottom: -10px;
            }

            .relations-list {
                list-style: none;
                margin-bottom: 0;
                padding-left: 0;

                li {
                    display: block;
                }

                .relation-range, .relation-event-link {
                    display: inline-block;
                    opacity: 0.8;
                    font-size: 12px;
                }
            }
        }

        .relation-title, .fact-title {
            font-weight: 600;
        }

        .fact, .relation {
            .fact-title, .relation-title {
                float: left;
                display: inline-block;
                width: 95px;
            }

            .fact-value, .relation-value {
                float: left;

                .fact-item-extra {
                    opacity: 0.8;
                    font-size: 12px;
                }
            }

            &:after {
                display: block;
                content: ' ';
                clear: both;
            }
        }

        .page-photo {
            width: 100%;
        }
    }
}
