.media-thumb-group {
    margin-bottom: 10px;

    .media-group-title {
        color: #999;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .media-thumb-wrapper {
        display: inline-block;
        margin: 10px;
        width: 200px;
        padding: 10px;
        border: #cccccc 1px solid;
        vertical-align: top;

        img {
            width: 100%;
        }
    }
}

.media-block {
    background: #fff;
    max-width: 1024px;
    margin: 20px auto;
    position: relative;
    padding: 20px 30px;
    text-align: left;

    .media-wrapper {
        margin-bottom: 20px;
        text-align: center;
        position: relative;

        .photo-wrapper {
            display: inline-block;
            position: relative;

            img {
                max-width: 100%;
            }

            .photo-tag {
                opacity: 0;
                position: absolute;
                display: block;
                border: 2px solid hsla(0, 0, 100%, 0.8);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 1px 0 rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }
        }
    }

    .media-meta {
        &:after {
            display: block;
            clear: both;
            content: ' ';
        }

        .media-meta-column {
            float: left;
            width: 50%;
            margin: 0;
            padding: 10px;

            .media-tags {
                list-style: none;
                margin-bottom: 0;
                padding-left: 0;

                li {
                    display: block;
                }
            }
        }
    }
}
