@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Areas.Front.ViewModels.Page.InfoBlock
@using Bonsai.Code.Utils.Helpers
@model InfoBlockVM
@{
    var pageVm = (PageTitleVM) ViewBag.PageModel.Body;
    var extras = new ViewDataDictionary(ViewData) { ["Facts"] = Model.Facts.SelectMany(x => x.Facts).ToList() };
}

<div class="page-info">
    @* Mobile collapsed view: compact birth/death summary. Hidden on desktop and when expanded. *@
    <div class="sidebar-collapsed d-md-none">
        @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/MobileSummary.cshtml", Model)
    </div>

    @* Full sidebar: all facts and relations. Always visible on desktop, hidden on mobile until expanded. *@
    <div class="sidebar-details">
        @if(Model.Photo != null)
        {
            <div class="profile-photo">
                <img src="@Url.MediaUrl(Model.Photo)" alt="@pageVm.Title" />
            </div>
        }
        @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain), extras)
        @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain), extras)
        @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain == false), extras)
        @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain == false), extras)
    </div>

    <button class="sidebar-toggle btn btn-sm btn-outline-secondary d-md-none" type="button">
        <i class="fa fa-chevron-down"></i>
    </button>
</div>