@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Areas.Front.ViewModels.Page.InfoBlock
@model InfoBlockVM
@{
    var pageVm = (PageTitleVM) ViewBag.PageModel.Body;
    var extras = new ViewDataDictionary(ViewData) { ["Facts"] = Model.Facts.SelectMany(x => x.Facts).ToList() };
}

<div class="page-info">
    @if(Model.Photo != null)
    {
        <div class="profile-photo">
            <img src="@Url.Content(Model.Photo.ThumbnailUrl)" alt="@pageVm.Title" />
        </div>
    }

    @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain), extras)
    @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain), extras)

    @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain == false), extras)
    @await Html.PartialAsync("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain == false), extras)
</div>