@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Media
@using Bonsai.Data.Models
@model Bonsai.Areas.Admin.ViewModels.Media.MediaEditorVM
@{
    ViewBag.Title = "Редактор медиа";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (MediaEditorDataVM)ViewBag.Data;
}

<h1>Редактор медиа</h1>

<form action="@Url.Action("Update", "Media", new {area = "Admin"})" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DepictedEntities" />
    <input type="hidden" asp-for="FilePath" />
    <input type="hidden" asp-for="Type" />

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Title">Заголовок</label>
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date">Дата</label>
                <input type="text" asp-for="Date" class="form-control" placeholder="ГГГГ.ММ.ДД" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location">Место</label>
                <select asp-for="Location" asp-items="data.LocationItem"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event">Событие</label>
                <select asp-for="Event" asp-items="data.EventItem"></select>
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="form-row">
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="media-editor-tags-wrapper">
                                <img src="@Url.Content(data.ThumbnailUrl)" draggable="false"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if(Model.Type == MediaType.Video || Model.Type == MediaType.Photo360)
            {
                <div class="form-row">
                    <div class="form-group">
                        <label>Отметки</label>
                        <select id="media-editor-tags-list" asp-items="data.DepictedEntityItems"></select>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
    </div>
</form>

<script type="text/template" id="media-tag-template">
    <div class="photo-tag-editor">
        <div class="ui-draggable-handle"></div>
    </div>
</script>