@using Bonsai.Areas.Front.Logic
@using Bonsai.Code.DomainModel.Media
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Media.MediaEditorVM
@{
    ViewBag.Title = "Удаление медиа";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var thumbPath = MediaPresenterService.GetSizedMediaPath(Model.FilePath, MediaSize.Small);
}

<h1>Удаление медиа</h1>

<div class="card d-inline-block">
    <div class="card-body">
        <img src="@Url.Content(thumbPath)" style="max-width: 200px" />
    </div>
</div>

<p>
    Вы уверены, что хотите удалить данный медиа-файл?<br />
    Отменить данную операцию будет невозможно.
</p>

<form action="@Url.Action("Remove", "Media", new {area = "Admin"})" method="POST">
    <input type="hidden" name="confirm" value="true" />
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Удалить</button>
    <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
</form>