@using Bonsai.Code.DomainModel.Facts.Models
@using Bonsai.Code.Services
@model ContactsFactModel

@Model.ShortTitle:
<ul>
    @foreach (var item in Model.Values)
    {
        <li>@item.Type.GetLocaleEnumDescription(): @item.Value</li>
    }
</ul>