@using Bonsai.Code.DomainModel.Facts.Models
@using Impworks.Utils.Format
@model ContactsFactModel

@Model.ShortTitle:
<ul>
    @foreach (var item in Model.Values)
    {
        <li>@item.Type.GetEnumDescription(): @item.Value</li>
    }
</ul>