@model Bonsai.Code.DomainModel.Facts.Models.DeathDateFactModel
<span>@Model.ShortTitle: @(Model.Value == null ? Bonsai.Localization.Texts.Admin_Changesets_Facts_Unknown : Model.Value.Value.ReadableDate)</span>