@model Bonsai.Code.DomainModel.Facts.Models.GenderFactModel
<span>@Model.ShortTitle: @(Model.IsMale ? Bonsai.Localization.Texts.Admin_Changesets_Facts_GenderM : Bonsai.Localization.Texts.Admin_Changesets_Facts_GenderF)</span>