@using Bonsai.Code.DomainModel.Facts.Models
@model BloodTypeFactModel


<div class="fact">
    <div class="fact-title">@Model.Definition.Title</div>
    <div class="fact-value">
        @Model.Type
        @if (Model.RhesusFactor is bool rf)
        {
            <text>@(rf ? "+" : "-")</text>
        }
    </div>
</div>
