@using Bonsai.Code.DomainModel.Facts.Models
@model BloodTypeFactModel

<tr class="fact">
    <th class="fact-title">@Model.Definition.ShortTitle</th>
    <td class="fact-value" style="white-space: normal">
        <span>@Model.Type</span>
        @if (Model.RhesusFactor is bool rf)
        {
            <span>@(rf ? "+" : "-")</span>
        }
    </td>
</tr>
