@using Bonsai.Code.DomainModel.Facts.Models
@model DateFactModel

<div class="fact">
    <div class="fact-title">@Model.Definition.ShortTitle</div>
    <div class="fact-value">@Model.Value.ReadableDate</div>
</div>
