@using Bonsai.Code.DomainModel.Facts.Models
@model GenderFactModel

<div class="fact">
    <div class="fact-title">@Model.Definition.ShortTitle</div>
    <div class="fact-value">@(Model.IsMale ? "Мужской" : "Женский")</div>
</div>


