@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Style";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Markdown")">Markup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Style</a>
    </li>
</ul>

<h3>Text style recommendations</h3>

<p>
    The purpose of this website is storage and arrangement of the family history.
    To make it pleasant and interesting to read, all authors should adhere to the following recommendations.
</p>
<p>Please, keep them in mind while writing and editing articles.</p>

<ol>
    <li>
        <strong>Objectivity</strong>:<br />
        Be fair and focus on the facts. Avoid personal opinions: they can be disputable and change overtime.
    </li>
    <li>
        <strong>Positivity</strong>:<br />
        When possible, pay more attention to good things. Such stories will make a more pleasant reading.
    </li>
    <li>
        <strong>Informativity</strong>:<br />
        Think of the things which will still be important and interesting to people reading your article in 50 or 100 years. Omit insignificant details and keep the language simple.
    </li>
    <li>
        <strong>Order</strong>:<br />
        Describe events in chronological order: birth, childhood, study, work, family, old age. Avoid flashforwards. If there is enough information, split it into chapters by using headers.
    </li>
    <li>
        <strong>Appearance</strong>:<br />
        Write in proper English, use spellcheckers if necessary. Split the text into paragraphs and add links to mentioned pages.
    </li>
    <li>
        <strong>Accuracy</strong>:<br />
        Partial information is better than none. If you are unsure about some particular fact (date, name, place) - write as you remember. Someone might improve it later.
    </li>
</ol>

<h3>Media recommendation</h3>

<ol>
    <li>This website is not Instagram Stories: upload only important things. Best ratio is 5 photos and videos per person per year.</li>
    <li>Use tags to link to people depicted on photos and videos.</li>
    <li>Prefer well taken photos. If needed, use retouching software to process them before uploading.</li>
    <li>Do not upload photos with nudity, especially of kids, even if you perceive it as cute.</li>
</ol>