@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Оформление";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Оформление</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Guidelines")">Стиль</a>
    </li>
</ul>

<h3>Форматирование текста</h3>
<p>Для форматирования используется язык разметки <b>Markdown</b>. Он позволяет добавить в обычный текст заголовки, ссылки, изображения и другие стили с помощью специальных символов.</p>

<h5>Заголовки</h5>
<p>Для заголовков используется символ <code>#</code>, от 1 до 6 (один - самый большой).</p>
<pre>
# Огромный заголовок первого уровня
## Заголовок второго уровня (поменьше)
###### Самый маленький заголовок
</pre>

<h5>Стили текста</h5>
<pre>
_Этот текст будет написан курсивом_
**А этот - жирным шрифтом**
Разумеется, _их можно **совмещать** между собой_
</pre>

<h5>Списки</h5>
<p>Ненумерованные списки начинаются с символа <code>*</code>. Для вложенных списков используйте отступы из 4 пробелов.</p>
<pre>
* Элемент 1
* Элемент 2
    * Элемент 2.2
</pre>
<p>Для нумерованных списков указывайте номер с точкой.</p>
<pre>
1. Элемент 1
    1. Элемент 1.1
2. Элемент 2
</pre>

<h5>Ссылки</h5>
<p>Проще всего получить ссылку, набрав символ <code>@@</code> и начав вводить название страницы. Появится выпадающее меню с вариантами, из которых можно будет выбрать нужный с помощью стрелок вверх-вниз или мыши.</p>
<p>Для расширенного поиска есть кнопка с иконкой "ссылка" над редактором текста. Там страницы можно отфильтровать по типу и просмотреть более длинный список вариантов.</p>
<p>Ссылка на страницу указывается в квадратных скобках. Сначала - полное название страницы, потом вертикальная черта, потом - текст ссылки:</p>
<pre>
Ссылка на страницу [[Иванов_Иван_Иванович|Ивана]] будет здесь.
</pre>

<h5>Изображения</h5>
<p>Изображение добавляется с помощью квадратных скобок и префикса <code>media:</code>.</p>
<p>Проще всего получить изображение, нажав на иконку "изображение" над редактором текста и выбрать желаемое из списка.</p>
<p>При вставке изображения можно указать следующие настройки:</p>
<ul>
    <li>
        <p>Размер:</p>
        <ul>
            <li><code>size:small</code> - маленькое</li>
            <li><code>size:medium</code> - среднее</li>
            <li><code>size:large</code> - крупное</li>
        </ul>
    </li>
    <li>
        <p>Расположение:</p>
        <ul>
            <li><code>align:left</code> - слева</li>
            <li><code>align:center</code> - в центре</li>
            <li><code>align:right</code> - справа</li>
        </ul>
    </li>
</ul>

<pre>
[[media:12345]] - маленькое изображение слева
[[media:12345|align:right]] - изображение по правому краю
[[media:12345|align:center|size:large]] - крупное, по центру
</pre>