@using Bonsai.Localization
@{
    ViewBag.Title = Texts.Front_RegisterDisabled_Title;
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

<div class="content text">
    <h1>@Texts.Front_RegisterDisabled_Title</h1>

    <p>@Texts.Front_RegisterDisabled_Description</p>
</div>