@{
    ViewBag.Title = "Регистрация отклонена";
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

<div class="content text">
    <h1>Регистрация отклонена</h1>

    <p>Учетная запись не может быть создана, потому что регистрация новых пользователей запрещена администратором.</p>
</div>