@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Front.ViewModels.Auth
@model Bonsai.Areas.Front.ViewModels.Auth.RegisterUserVM
@{
    ViewBag.Title = "Регистрация";
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";

    var data = (RegisterUserDataVM) ViewBag.Data;
}

<div class="content text">
    <h1>Регистрация</h1>

    <p>Для создания учетной записи, пожалуйста, введите необходимую информацию.</p>
    @if (data.IsFirstUser)
    {
        <p>Ваша учетная запись получит права администратора.</p>
    }
    else
    {
        <p>Проверьте, что ввели актуальные данные - на русском языке и без ошибок.</p>
        <p>Учетная запись будет проверена администратором, после чего вы сможете авторизоваться и пользоваться системой.</p>
    }

    <div class="row">
        <div class="col-md-7 col-sm-12">
            <form asp-action="Register" method="post" style="margin-top: 32px">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required">Фамилия</label>
                    <div class="col-sm-9">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required">Имя</label>
                    <div class="col-sm-9">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required">Отчество</label>
                    <div class="col-sm-9">
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required">Дата рождения</label>
                    <div class="col-sm-6">
                        <input asp-for="Birthday" class="form-control datepicker datepicker-strict" placeholder="ГГГГ.ММ.ДД" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required">E-mail</label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                @if (data.UsePasswordAuth)
                {
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label form-label-required">Пароль</label>
                        <div class="col-sm-9">
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label form-label-required">Повтор пароля</label>
                        <div class="col-sm-9">
                            <input asp-for="PasswordCopy" class="form-control" type="password" />
                            <span asp-validation-for="PasswordCopy" class="text-danger"></span>
                        </div>
                    </div>
                }

                @if (data.IsFirstUser)
                {
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label form-label-required">Опции</label>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input asp-for="CreatePersonalPage" class="form-check-input" />
                                <label asp-for="CreatePersonalPage" class="form-check-label">Создать личную страницу</label>
                                <span asp-validation-for="CreatePersonalPage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Ошибка:</strong> пожалуйста, убедитесь, что вы заполнили все поля корректно и попробуйте снова.
                    </div>
                }

                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-6">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>