/* Fix for Gijgo Datepicker button */

.gj-datepicker-bootstrap .input-group-append {
    flex-direction: column;

    button {
        flex-grow: 1;
    }
}

/* Fix for the Bootstrap Modal dialog */

.modal-lg {
    max-width: 830px;
}

/* Fix for Selectize */

.selectize-input {
    min-height: 40px;

    .item {
        line-height: 25px;
    }

    input {
        height: 25px;
    }
}